/* grid-template-area explained here */
/* .grid{ */
    /* display: grid; */

    /* grid-template-rows: 100px 160px;
    grid-template-columns: 100px auto 150px; */

    /*ALternative way for defining templates */
    /*Creating a grid containing two rows and three columns*/
    /* grid-template: 100px 100px 100px */
    /* / 100px 160px auto; */
    /* grid-gap:10px 10px; */
    /* grid-template-areas:
    "a a b"
    ". c c"
    "d e f"

}

.grid div:nth-child(1){
    grid-area: a;
}
.grid div:nth-child(2){
    grid-area: b;
}
.grid div:nth-child(3){
    grid-area: c;
}
.grid div:nth-child(4){
    grid-area: d;
}
.grid div:nth-child(5){
    grid-area: e;
}
.grid div:nth-child(6){
    grid-area: f;
} */